h2{
    font-weight: lighter;
    color: blue;
}
h2>span{
    font-weight: 900;
}
div>p{
    color: red;
}
div>div>p{
    color: green;
}
div>div>p>span{
    color: gold;
}
a{
    text-decoration: none;
    color: orange;
}